html{
  padding: 0;
  margin: 0;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
	font-size: 20px;
	font-family: 'Calibri', sans-serif;
  height: 100%;
  
}

div.col-md-12{
  margin: 0;
  padding: 0;
}

.container-fluid{
  margin: 0;
  padding: 0;
}


.row{
  margin: 0;
  padding: 0;
}

.menu{
  position: absolute;
  z-index: 999;
}


.navbar-link, .navbar-link:hover{
  color: #fff;
  font-family: "Calibri", sans-serif;
  text-transform: none;
  font-size: .8em;
}
ul.navbar-nav:first-child{
  padding-left:20em;
}

/*button tel*/


button.navbar-nav{
  background-color: #000;
  color: #fff;
  border: 0;
  font-size: 1.4em;
  text-align: center;
  padding: .2em .4em .3em;
  font-weight: bold;
}

button.navbar-nav img{
  padding-left: .2em;
}



.slider-wrapper{
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

.slick-slide img {
  display: block;
  max-width: 100%;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-slide > .slick-slider-img {
  position: relative;
  display: block;
  width: 100%;
}

.slick-slide .image {
  /*height: 180px;*/
}

.slick-slide img {
  display: block;
  width: 100%;
}

.slick-slide img.slick-loading {
  display: none;
}


.slick-prev{
  display:none!important;
}

.slick-next{
  display:none!important;
}

/* progress bar */
.slider-progress {
  width: 100%;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: fixed !important;
}
.slider-progress .progress {
  width: 0%;
  height: 8px;
  background:#816741;
}

nav{
  padding-left: 15em;
}

div.naslider.menu{
  margin: 5em 30% auto;
  
}

ul.nav{
  margin-top: 1.4em;
}

ul.nav:last-child{
  margin-top: 0;
}

.navbar-nav>li>a{
  color: #fff;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
}

.navbar-nav>li>a:hover{
  color: #fff;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
  background-color: #816741;
}

li.dropdown, li.dropdown-open{
  color: #816741;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  
}

.btn-warning{
  background-color: #816741;
  border: none;
  margin-top: 3em;
  padding: .5em 1em;
}

section.topproducts{  
  height: auto;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 0px;
    padding: 0em 1em;
    font-size: 18px;
}

.btn-brown{
  background-color: #7a6846;
  color: #fff;
}



section .topproducts > h1{  
  color: #816741;
  margin-left: 2em;
  font-weight: 600;
  text-align: left;
  text-transform: none;
  font-size: 2em;
}

h1.top{
  color: #816741;
  margin-left: 2em;
  font-weight: 600;
  text-align: left;
  text-transform: none;
  font-size: 2em;
}


section.topproducts>.row{
  padding-top: 1em;
  padding-bottom: 2em;
}


h5.card-title, p.card-text{
  color: #816741;
  font-weight: bold;
}


.image {
    position:relative;
    
}
.image img {
    
    vertical-align:top;
}
.image:after {
    display:none;
}
.image:hover:after {
    opacity:0.3;
}

article.test{
  height: auto;
  padding: 4em 0 0em;
}

div.jumbotron{
  background-color: #fff;
  padding: 0;
}

.logojumbo{
  margin: 0 35% auto;
}



div.jumbotron p{
  font-size: 1.1em;
  color: #816741;
  text-align: center;
  font-weight: bold;
}


.jumbotron p:nth-child(5){
  padding-top: 1em;
  font-size: .8em;
}


/* Paralaxa */



.parallax {
    height: 50%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parallax-curtain{
    height:100%;
    background:rgba(0,0,0,0.7);
}

.parallax2 {
    height: 70%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section.category{  
  height: auto;
}

section.category h1{
padding-top: 1em; 
  padding-bottom: 1em; 
  color: #816741;  
  font-weight: 600;
}


section.category>.row{
  padding-top: 2em;
}

div.brc p{
  padding-top: 7.5em;
  font-size: 1.5em;
  color: #fff;
  font-weight: bolder;
}

.brc h2{
  margin-top: 5em;
  color: #fff;
  font-weight: bold;
  text-transform: none;
  font-size: 1.6em;
  text-align: center;


}

div.cat_paralax{
  padding-top: 5em;
}

div.meat{
  padding: .5em;
  margin-top: 1em;
  background-color: #b3a48d;
  width: auto;
}

.meat img{
  opacity: 0.4;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


div.subfooter{
  margin-top: 8em;  
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  padding-top: 1em;
  
  font-size: 3.2em;
  color: #6d5531;
  font-weight: bold;
  text-transform: uppercase;
}

img.petsy{
  position: relative;
  height: 250px;
  margin-top: -120px;
}

footer p{
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  z-index: 999;  
  text-transform: none;
  margin-bottom: 0em;
  line-height: 1.2em;
}

p.text-left.ware{
  line-height: 1.5em;
}


p a:hover{
  text-decoration: none;
}

footer.col-lg-2{
  padding-left: 0em;
  padding-right: 0em;
}

div.phone{  
  background-color: #816741;
  border-radius: .5em .5em .5em .5em;
}

div.phone img{
  margin: 0 40% auto;
  display: block;
  height: 3em;
  padding-top: .5em;
}

div.phone p{
  font-size: 2.5em;
  margin-bottom: -.5em;
  text-align: center;
}


div.phone p:last-child{
  font-size: 1.2em;
  margin-bottom: -.5em;
  text-align: center;
  margin-top: .6em;
  padding-top: .5em;
  padding-bottom: 1em;
}

div.phone span{
  font-size: .8em;
  text-align: center;
  margin: 0 5% auto;
  color: #fff;
  font-weight: 600;
}

h1.contact{
    font-size: 3.6em;
    color: #6d5531;
    font-weight: bold;
    text-transform: none;
    padding-top: .3em;
    margin-top: -.5em;
    margin-bottom: -1.3em;   
    text-align: center;
    margin-left: 2em;
    display: flex;
   justify-content: center;
}

.bread_box{
  padding: 1em 0 1em 1em;
}

span.breadcrumps{
  padding-top: 1.5em;  
  font-size: .8em;
    color: #6d5531;
    font-weight: bold;
    text-transform: none;

}

section.mapa{
  padding-top: 2em;
}

.places > .row{
  border-bottom: 1px solid #6d5531;
  padding: 1em 0 1em;
}


section.places p{
  color: #6d5531;
  font-size: .7em;
  text-align: left;
  font-weight: 300;
  line-height: .5em;
  margin-bottom: .5em;
}

section.places p:nth-child(1){
 padding-top: 1em; 

}

section.places h5{
  color: #6d5531;
  font-size: .8em;
  font-weight: 800;
  line-height: 1em;
  margin-bottom: 0;
  margin-top: 0;

}

article.about{
  padding: 2em 0 2em;
}

.about p{
  color: #816741;
  font-family: inherit;
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  line-height: 1.5;
  text-transform: none;
}

section.code404{
  color: #816741;
  height: auto;
  font-size: 1em;
}


img.logo_main{
  margin: 0 40% auto;
}

p.cat_name{
  position: absolute;  
  font-family: inherit;
  font-size: 2em;
  color: #fff;
  bottom: 1px;
  text-align: center;
  width: 70%;
}

.navbar-nav {
    display: inline-block;
    float: none;
}

.navbar-collapse {
    text-align: center;
}

footer.container-fluid{
  height: auto
}

div.pad{
  padding-bottom: 2.5em!important;

}

/* woocommerce */

.woocommerce a.button, .woocommerce button.button{
  display: none;
}

@media(max-width: 1781px){
  ul.navbar-nav:first-child{
    padding-left:0em;
  }
  div.row{
      background-repeat: repeat-y!important;
    }

    ul.navbar-nav:last-child{
      margin-top: 1em;
      margin-left: 3em;
    }
}

@media(max-width: 857px){
  .navbar-brand img{
    height: 80px;
    margin-left: 1em;
  }

  .bread_box{
  padding: 1em 0 1em 1em;
  text-align: center;
  }

  h1.contact{
     font-size: 3.6em;
      color: #6d5531;
      font-weight: bold;
      text-transform: none;
      padding-top: .3em;
      margin-top: -.5em;
      margin-bottom: -1.3em;   
      text-align: center;
      margin-left: 0em;
      display: flex;
     justify-content: center;
  }

  p.text-left{
   text-align: center;
  }

  p.text-left.ware{
    line-height: 1.5em;
  }

  div.col-xs-12{
    padding-top: 1em;
  }  
}

@media (max-width: 587px){

  div.parallax{
    height: auto;
  }

 div.parallax img{
  margin-top: 1em!important;
   margin: 0 40% auto;
  
 }

 section{
  padding-top: 20em;
 }

}

@media (max-width: 991px){

 div.parallax img{
  padding-top: 0em!important;
   margin: 0 45% auto;
   height: 180px;
   padding-bottom: 2em!important;
 }

}

@media (max-width: 1441px){
  section.mapa{
    padding-top: 6em;
  }
}

