html, body{
  margin: 0;
  padding: 0;
	font-size: 20px;
	font-family: 'Calibri', sans-serif;
  
}



ul.nav{
  margin-top: 1.5em;
}

.navbar-nav>li>a{
  color: #fff;
  font-family: inherit;
  font-size: 1em;
}

.navbar-nav>li>a:hover{
  color: #000;
  font-family: inherit;
  font-size: 1em;
}

.btn-warning{
  background-color: #816741;
  border: none;
  margin-top: 3em;
  padding: .5em 1em;
}

